<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescServlet</servlet-name>
        <servlet-class>servlet.DescServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDesc</servlet-name>
        <servlet-class>servlet.DescServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDsc</servlet-name>
        <servlet-class>servlet.ServletDsc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsc</servlet-name>
        <servlet-class>servlet.ServletAsc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TentServlet</servlet-name>
        <servlet-class>servlet.TentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JacketServlet</servlet-name>
        <servlet-class>servlet.JacketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BagServlet</servlet-name>
        <servlet-class>servlet.BagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BagServletDsc</servlet-name>
        <servlet-class>servlet.BagServletDsc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BagServletAsc</servlet-name>
        <servlet-class>servlet.BagServletAsc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JacketServletDsc</servlet-name>
        <servlet-class>servlet.JacketServletDsc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JacketServletAsc</servlet-name>
        <servlet-class>servlet.JacketServletAsc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TentServletDsc</servlet-name>
        <servlet-class>servlet.TentServletDsc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TentServletAsc</servlet-name>
        <servlet-class>servlet.TentServletAsc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>servlet.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>servlet.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>servlet.HomeServlet</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Blog</servlet-name>
        <servlet-class>servlet.BlogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescServlet</servlet-name>
        <url-pattern>/DescServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDesc</servlet-name>
        <url-pattern>/ServletDesc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDsc</servlet-name>
        <url-pattern>/ServletDsc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsc</servlet-name>
        <url-pattern>/ServletAsc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TentServlet</servlet-name>
        <url-pattern>/TentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JacketServlet</servlet-name>
        <url-pattern>/JacketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BagServlet</servlet-name>
        <url-pattern>/BagServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BagServletDsc</servlet-name>
        <url-pattern>/BagServletDsc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BagServletAsc</servlet-name>
        <url-pattern>/BagServletAsc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JacketServletDsc</servlet-name>
        <url-pattern>/JacketServletDsc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JacketServletAsc</servlet-name>
        <url-pattern>/JacketServletAsc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TentServletDsc</servlet-name>
        <url-pattern>/TentServletDsc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TentServletAsc</servlet-name>
        <url-pattern>/TentServletAsc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/AboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog</servlet-name>
        <url-pattern>/Blog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
