.header{
  background-color: #e6e6e6;
  z-index: 9999;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#head{
  color: #e6002a;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
}
.nav{
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  height: 50px;
}
#logo{
  padding-left: 105px;
  height: 50px;
  width: 270px;
}

#nav{
  background-color: white;
}

#nav1{
  color: #d9d9d9;
  padding-top: 15px;
  padding-left: 670px;
  font-size: 11px;
  font-family: sans-serif;
}

#nav2{
  color: #d9d9d9;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 11px;
  font-family: sans-serif;
}

#nav3{
  color: #d9d9d9;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 11px;
  font-family: sans-serif;
}

#nav4{
  color: #d9d9d9;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 11px;
  font-family: sans-serif;
}

#nav5{
  color: #350066;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 11px;
  font-family: sans-serif;
}

#basket{
  padding-top: 10px;
  padding-left: 20px;
  width: 50px;
  height: 40px;
}

#span1 {
      margin-top: 80px;
      margin-bottom: 80px;
      display: flex;
      flex-direction: row;
      color: #350066;
      font-family: sans-serif;
        }


#span1:before, #span1:after {
     content: "";
     flex: 1 1;
     border-bottom: 1px solid #d9d9d9;
     margin: auto;
}

#p1{
  color: #350066;
  padding-left: 230px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p2{
  color: #350066;
  padding-left: 230px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p3{
  color: #350066;
  padding-left: 230px;
  font-size: 10px;
  font-family: sans-serif;
}

#p4{
  color: #350066;
  padding-left: 230px;
  font-size: 10px;
  font-family: sans-serif;
}

#p5{
  color: #350066;
  padding-left: 230px;
  font-size: 10px;
  font-family: sans-serif;
}

#p6{
  color: #350066;
  padding-left: 230px;
  font-size: 10px;
  font-family: sans-serif;
}

#p7{
  color: #350066;
  padding-left: 70px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p8{
  color: #350066;
  padding-left: 70px;
  font-size: 10px;
  font-family: sans-serif;
}

#p9{
  color: #350066;
  padding-left: 70px;
  font-size: 10px;
  font-family: sans-serif;
}

#p10{
  color: #350066;
  padding-left: 70px;
  font-size: 10px;
  font-family: sans-serif;
}

#p11{
  color: #350066;
  padding-left: 70px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p12{
  color: #350066;
  padding-left: 70px;
  font-size: 10px;
  font-family: sans-serif;
}

#p13{
  color: #350066;
  padding-left: 70px;
  font-size: 10px;
  font-family: sans-serif;
}

#map{
  outline: 2px black;
  color: #350066;
  margin-left: 230px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}
#inputs{
  margin-top: 40px;
}

#input1{
  margin-left: 500px;
  margin-bottom: 25px;
}

#input2{
  margin-left: 500px;
  margin-bottom: 25px;
}

#input3{
  margin-left: 500px;
  margin-bottom: 25px;
}

#input4{
  margin-left: 750px;
  margin-top: 0px;
}

#p14{
  color: #350066;
  padding-left: 500px;
  font-size: 11px;
  font-family: sans-serif;
}

#p15{
  color: #350066;
  padding-left: 500px;
  font-size: 11px;
  font-family: sans-serif;
}

#p16{
  color: #350066;
  padding-left: 500px;
  font-size: 11px;
  font-family: sans-serif;
}

#p17{
  color: #350066;
  margin-left: 750px;
  margin-top: -262px;
  font-size: 11px;
  font-family: sans-serif;
}

#btn1{
  height: 30px;
  width: 60px;
  margin-left: -60px;
  margin-top: -190px;
  background-color: #e74350;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  transition-duration: 0.4s;
  border-radius: 2px;

}

#btn1:hover {
  background-color: #80c1ff;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
}



#footer{
    margin-top: 25px;
    background-color: #404040;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -150px;
    margin-right: -100px;
}

#pf11{
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 330px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px grey;
}

#pf12{
  color: white;
  padding-left: 310px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf13{
  color: white;
  padding-left: 310px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf14{
  color: white;
  padding-left: 325px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf15{
  color: white;
  padding-left: 315px;
  font-size: 11px;
  font-family: sans-serif;
  padding-bottom: 50px;
  text-shadow: 2px 2px 4px grey;
}

#pf21{
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 120px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px grey;
}

#pf22{
  color: white;
  padding-left: 130px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf23{
  color: white;
  padding-left: 127px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf24{
  color: white;
  padding-left: 125px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf25{
  color: white;
  padding-left: 130px;
  font-size: 11px;
  font-family: sans-serif;
  padding-bottom: 50px;
  text-shadow: 2px 2px 4px grey;
}

#pf31{
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 120px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px grey;
}

#pf32{
  color: white;
  padding-left: 125px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf33{
  color: white;
  padding-left: 95px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf34{
  color: white;
  padding-left: 115px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf35{
  color: white;
  padding-left: 100px;
  font-size: 11px;
  font-family: sans-serif;
  padding-bottom: 50px;
  text-shadow: 2px 2px 4px grey;
}

#pf41{
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 120px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px grey;
}

#pf42{
  color: white;
  padding-left: 120px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf43{
  color: white;
  padding-left: 125px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf44{
  color: white;
  padding-left: 120px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf45{
  color: white;
  padding-left: 123px;
  font-size: 11px;
  font-family: sans-serif;
  padding-bottom: 50px;
  text-shadow: 2px 2px 4px grey;
}

#pf51{
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 120px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px grey;
}

#pf52{
  color: white;
  padding-left: 100px;
  font-size: 11px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#pf53{
  color: white;
  padding-left: 120px;
  font-size: 15px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#input{
  margin-left: 90px;
}

#btn7{
  height: 30px;
  width: 180px;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: #e74350;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  transition-duration: 0.4s;
  border-radius: 2px;

}

#btn7:hover {
  background-color: #80c1ff;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
}

#pf61{
  color: #d9d9d9;
  padding-left: 550px;
  font-size: 10px;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px grey;
}

#span2 {
      margin-top: 80px;
      margin-bottom: 80px;
      display: flex;
      flex-direction: row;
      color: #350066;
      font-family: sans-serif;
        }


#span2:before, #span2:after {
     content: "";
     flex: 1 1;
     border-bottom: 1px solid #d9d9d9;
     margin: auto;
}

#p18{
  color: #350066;
  padding-left: 230px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p19{
  color: #350066;
  padding-left: 230px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p20{
  color: #350066;
  padding-left: 230px;
  font-size: 10px;
  font-family: sans-serif;
}

#p21{
  color: #350066;
  padding-left: 230px;
  font-size: 10px;
  font-family: sans-serif;
}

#p22{
  color: #350066;
  padding-left: 230px;
  font-size: 10px;
  font-family: sans-serif;
}

#p23{
  color: #350066;
  padding-left: 230px;
  font-size: 10px;
  font-family: sans-serif;
}

#p24{
  color: #350066;
  padding-left: 200px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p25{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#p26{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#p27{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#p28{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}




#p29{
  color: #350066;
  padding-left: 230px;
  padding-top: 50px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p30{
  color: #350066;
  padding-left: 180px;
  padding-top: 50px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p31{
  color: #350066;
  padding-left: 180px;
  font-size: 10px;
  font-family: sans-serif;
}

#p32{
  color: #350066;
  padding-left: 180px;
  font-size: 10px;
  font-family: sans-serif;
}

#p33{
  color: #350066;
  padding-left: 180px;
  font-size: 10px;
  font-family: sans-serif;
}

#p34{
  color: #350066;
  padding-left: 180px;
  font-size: 10px;
  font-family: sans-serif;
}

#p35{
  color: #350066;
  padding-left: 200px;
  padding-top: 50px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p36{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#p37{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#p38{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#p39{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}


#p40{
  color: #350066;
  padding-left: 230px;
  padding-top: 50px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p41{
  color: #350066;
  padding-left: 240px;
  padding-top: 50px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p42{
  color: #350066;
  padding-left: 240px;
  font-size: 10px;
  font-family: sans-serif;
}

#p43{
  color: #350066;
  padding-left: 240px;
  font-size: 10px;
  font-family: sans-serif;
}

#p44{
  color: #350066;
  padding-left: 240px;
  font-size: 10px;
  font-family: sans-serif;
}

#p45{
  color: #350066;
  padding-left: 240px;
  font-size: 10px;
  font-family: sans-serif;
}

#p46{
  color: #350066;
  padding-left: 200px;
  padding-top: 50px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#p47{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#p48{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#p49{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#p50{
  color: #350066;
  padding-left: 200px;
  font-size: 10px;
  font-family: sans-serif;
}

#karta{
  margin-top: 100px;
  margin-bottom: 60px;
  width: 1170px;
}



/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
#login {
    background-color: #350066;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    cursor: pointer;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
