.header{
    background-color: #e6e6e6;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#head{
    color: #e6002a;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
}
.nav{
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    height: 50px;
}
#logo{
    padding-left: 105px;
    height: 50px;
    width: 270px;
}

#nav{
    background-color: white;
}

#nav1{
    color: #350066;
    padding-top: 15px;
    padding-left: 670px;
    font-size: 11px;
    font-family: sans-serif;
}

#nav2{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 11px;
    font-family: sans-serif;
}

#nav3{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 11px;
    font-family: sans-serif;
}

#nav4{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 11px;
    font-family: sans-serif;
}

#nav5{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 11px;
    font-family: sans-serif;
}

#basket{
    padding-top: 10px;
    padding-left: 20px;
    width: 50px;
    height: 40px;
}

#pic1{
    width: 100%;
}
.content1 {
    position: absolute;
    width: 100%;
}


#h21{
    color: #e74350;
    text-shadow: 2px 2px 4px cyan;
    padding-top: 50px;
    padding-left: 70px;
    font-size: 40px;
    font-family: sans-serif;
}

#p1{
    color: #350066;
    text-shadow: 2px 2px 4px mediumturquoise;
    padding-left: 70px;
    font-size: 16px;
    font-family: sans-serif;
}

#btn1{
    height: 50px;
    width: 130px;
    margin-left: 70px;
    background-color: #e74350;
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    transition-duration: 0.4s;
    border-radius: 2px;

}

#btn1:hover {
    background-color: #80c1ff;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
}

#div1{
    margin-top: 25px;

}
#h22{
    color: #350066;
    padding-top: 55px;
    padding-left: 450px;
    font-family: sans-serif;
}

#givingBack{
    margin-top: 20px;
    background-image: url("./img/fon_paragraf.png");
}

#give{
    margin-top: 50px;
    margin-right: 50px;
}

#img4{
    width: 45px;
    height: 45px;
    margin-left: 180px;
}

#p4{
    padding-top: 15px;
    padding-left: 75px;
    color: #350066;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}

#p5{
    padding-top: 0px;
    color: #350066;
    padding-left: 50px;
    font-size: 10px;
    font-family: sans-serif;
    text-align: center;
}

#btn5{
    height: 30px;
    width: 130px;
    margin-left: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #350066;
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    transition-duration: 0.4s;
    border-radius: 2px;

}

#btn5:hover {
    background-color: #80c1ff;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
}


#span1 {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    color: #350066;
    font-family: sans-serif;
}


#span1:before, #span1:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #d9d9d9;
    margin: auto;
}

#img7{
    width: 260px;
    height: 260px;
}

#img8{
    width: 260px;
    height: 260px;
}

#img9{
    width: 260px;
    height: 260px;
}

#img10{
    width: 260px;
    height: 260px;
}

#p10{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px ;
}

#p11{
    color: #350066;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#p12{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px ;
}

#p13{
    color: #350066;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#p14{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px ;
}

#p15{
    color: #350066;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}


#pp1{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px ;
}

#pp2{
    color: #350066;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
#strike1{
    color: #c0a5b9;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#info1{
    height: 25px;
    width: 70px;
    margin-top: 80px;
    background-color: #e74350;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 2px;
}

#p16{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px ;
}

#p17{
    color: #350066;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#info1{
    height: 25px;
    width: 90px;
    margin-top: 100px;
    margin-left: 10px;
    background-color: #e74350;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 2px;
}

#info2{
    height: 25px;
    width: 70px;
    margin-left: 530px;
    background-color: #e74350;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 2px;
}

#btn6{
    height: 30px;
    width: 130px;
    margin-left: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #e74350;
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    transition-duration: 0.4s;
    border-radius: 2px;

}

#btn6:hover {
    background-color: #80c1ff;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
}

#span6 {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    color: #350066;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#span6:before, #span6:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #d9d9d9;
    margin: auto;
}

#foto1{
    width: 280px;
    height: 280px;
}

#footer{
    margin-top: 25px;
    background-color: #404040;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -150px;
    margin-right: -130px;
}

#pf11{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 330px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf12{
    color: white;
    padding-left: 310px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf13{
    color: white;
    padding-left: 310px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf14{
    color: white;
    padding-left: 325px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf15{
    color: white;
    padding-left: 315px;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px grey;
}

#pf21{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 120px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf22{
    color: white;
    padding-left: 130px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf23{
    color: white;
    padding-left: 127px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf24{
    color: white;
    padding-left: 125px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf25{
    color: white;
    padding-left: 130px;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px grey;
}

#pf31{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 120px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf32{
    color: white;
    padding-left: 125px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf33{
    color: white;
    padding-left: 95px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf34{
    color: white;
    padding-left: 115px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf35{
    color: white;
    padding-left: 100px;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px grey;
}

#pf41{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 120px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf42{
    color: white;
    padding-left: 120px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf43{
    color: white;
    padding-left: 125px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf44{
    color: white;
    padding-left: 120px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf45{
    color: white;
    padding-left: 123px;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px grey;
}

#pf51{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 120px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf52{
    color: white;
    padding-left: 100px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf53{
    color: white;
    padding-left: 120px;
    font-size: 15px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#input{
    margin-left: 90px;
}

#btn7{
    height: 30px;
    width: 180px;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: #e74350;
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    transition-duration: 0.4s;
    border-radius: 2px;

}

#btn7:hover {
    background-color: #80c1ff;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
}

#pf61{
    color: #d9d9d9;
    padding-left: 550px;
    font-size: 10px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}



.slider-inner{
    width: 1100px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
}

.slider-inner img{
    display: none;
    width: 300px;
    height: 300px;
}

.slider-inner img.active{
    display: inline-block;
}

.prev, .next{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 200px;
    cursor: pointer;
}

.prev{
    position: relative;
    margin-right: -45px;
    z-index: 100;
}

.next{
    position: relative;
    margin-left: -30px;
    z-index: 100;
}



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#login {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#login:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}







