/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: green;
    border-radius: 100%;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 120px;
    animation: shake-animation 4.72s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes shake-animation {
    0% { transform:translate(0,0) }
    1.78571% { transform:translate(10px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(10px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(10px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #350066;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #e74350;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
    color: white;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #350066; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.header{
    background-color: #e6e6e6;
    z-index: 9999;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


#head{
    color: #e6002a;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
}
.nav{
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    height: 50px;
}
#logo{
    padding-left: 105px;
    height: 50px;
    width: 270px;
}

#nav{
    background-color: white;
}

#nav1{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 670px;
    font-size: 11px;
    font-family: sans-serif;
}

#nav2{
    color: #350066;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 11px;
    font-family: sans-serif;
}

#nav3{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 11px;
    font-family: sans-serif;
}

#nav4{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 11px;
    font-family: sans-serif;
}

#nav5{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 11px;
    font-family: sans-serif;
}

#basket{
    padding-top: 10px;
    padding-left: 20px;
    width: 50px;
    height: 40px;
}

#span1 {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    color: #350066;
    font-family: sans-serif;
}


#span1:before, #span1:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #d9d9d9;
    margin: auto;
}

#productName{
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color: #350066;
}

#productPrice{
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color:#350066;
}

#addProduct{
    background-color: #350066;
    color: white;
    padding: 14px 20px;
    margin-left: 80px;
}

#addProduct:hover {
    opacity: 0.8;
}

#submit{
    height: 30px;
    width: 130px;
    background-color: skyblue;

}

#submit:hover {
    background-color: #80c1ff;
}

#footer{
    margin-top: 25px;
    background-color: #404040;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -150px;
    margin-right: -100px;
}

#pf11{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 330px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf12{
    color: white;
    padding-left: 310px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf13{
    color: white;
    padding-left: 310px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf14{
    color: white;
    padding-left: 325px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf15{
    color: white;
    padding-left: 315px;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px grey;
}

#pf21{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 120px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf22{
    color: white;
    padding-left: 130px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf23{
    color: white;
    padding-left: 127px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf24{
    color: white;
    padding-left: 125px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf25{
    color: white;
    padding-left: 130px;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px grey;
}

#pf31{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 120px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf32{
    color: white;
    padding-left: 125px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf33{
    color: white;
    padding-left: 95px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf34{
    color: white;
    padding-left: 115px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf35{
    color: white;
    padding-left: 100px;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px grey;
}

#pf41{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 120px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf42{
    color: white;
    padding-left: 120px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf43{
    color: white;
    padding-left: 125px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf44{
    color: white;
    padding-left: 120px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf45{
    color: white;
    padding-left: 123px;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px grey;
}

#pf51{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 120px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
}

#pf52{
    color: white;
    padding-left: 100px;
    font-size: 11px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#pf53{
    color: white;
    padding-left: 120px;
    font-size: 15px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}

#input{
    margin-left: 90px;
}

#btn7{
    height: 30px;
    width: 180px;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: #e74350;
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    transition-duration: 0.4s;
    border-radius: 2px;

}

#btn7:hover {
    background-color: #80c1ff;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
}

#pf61{
    color: #d9d9d9;
    padding-left: 550px;
    font-size: 10px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px grey;
}


.menu{

    float:left;
    margin:10px 0 10px 5px;
    height:350px;
}

.content{
    margin:10px 0 10px 235px;
    min-height:500px;
    _height:500px
}



#shopby{
    color: #350066;
}

#shopBy{
    font-size: 20px;
    font-family: sans-serif;
}


#shopByInfo{
    font-size: 20px;
    font-family: sans-serif;
}

.categories{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.info_id{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.p1{
    color: #d9d9d9;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px ;
}

#p2{
    color: #350066;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
#strike1{
    color: #c0a5b9;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#info1{
    height: 35px;
    width: 90px;
    margin-top: 80px;
    padding-top: 7px;
    background-color: #e74350;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 3px;
}

#row5{
    padding-top: 50px;
}

#shopBysorting{
    color: #350066;
    padding-left: 750px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

#sorting{
    color: #350066;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
}

.img_prod{
    height: 50%;
    width: 100%;
}

#btn1{
    height: 30px;
    width: 330px;
    margin-top: -70px;
    background-color: #350066;
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    transition-duration: 0.4s;
    border-radius: 2px;
}

#btn1:hover {
    background-color: #80c1ff;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
}

#p1{
    color: #d9d9d9;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px ;
}

#p2{
    color: #350066;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
#strike2{
    color: #c0a5b9;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#info2{
    height: 25px;
    width: 70px;
    margin-top: 80px;
    background-color: #e74350;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 2px;
}

#div2{
    padding-left: 100px;
}

#p3{
    color: #d9d9d9;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px ;
}

#p4{
    color: #350066;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#info3{
    height: 30px;
    width: 100px;
    margin-left: 0px;
    margin-top: 80px;
    padding-top: 5px;
    background-color: #e74350;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 2px;
}

.addProduct {
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

/* Set a style for all buttons */
#login {
    background-color: #350066;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {

    color: white;

    margin: 8px 0;
    border: none;
    cursor: pointer;

    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.cancelbtn :hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}



/* The Modal (background) */
.odal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.odal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
